<!-- <input
      type="text"
      class="form-control"
      [value]="initialValue"
      [placeholder]="placeholder"
      (keyup)="onKeyPress(txtInput.value)"
      #txtInput
    /> -->

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"
    ><i class="fa-solid fa-magnifying-glass"></i
  ></span>
  <input
    type="text"
    class="form-control"
    [value]="initialValue"
    [placeholder]="placeholder"
    (keyup)="onKeyPress(txtInput.value)"
    #txtInput
  />
</div>
