<div class="row">
  <div class="col-4">
    <h2 class="text-center">Sección Individual</h2>
    <div class="card">
      <img
        *ngIf="img.backdrops != null"
        [src]="'https://image.tmdb.org/t/p/w500/' + img.backdrops[0].file_path"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h4 class="card-title text-center">{{ movie.original_title }}</h4>
        <h5
          class="card-subtitle mb-2 text-muted text-center"
          *ngIf="movie.genres != null"
        >
          {{ movie.genres[0].name }},
          {{ movie.genres[1].name }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">
          {{ movie.status }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted text-center">
          Sitio: <a href="{{ movie.homepage }}" target="_blank"> Web</a>
        </h6>
        <div class="container">
          <div class="gap-2 m-2 text-center">
            <button
              (click)="onPress()"
              class="btn btn-outline-success"
              type="button"
            >
              <a>Conocer al Elenco</a>
            </button>
          </div>
          <div class="container d-inline-flex">
            <div class="gap-2 m-2 text-center">
              <button class="btn btn-primary" type="button">
                <a
                  [routerLink]="['/movies/by', movie.id, 'reviews']"
                  style="text-decoration: none; color: inherit"
                  >Reseñas<i class="fa-solid fa-magnifying-glass fa-lg m-2"></i
                ></a>
              </button>
            </div>

            <div class="gap-2 m-2 text-center">
              <button class="btn btn-danger" type="button">
                <a
                  [routerLink]="['/movies/by', movie.id, 'videos']"
                  style="text-decoration: none; color: inherit"
                  >Videos<i class="fa-brands fa-youtube fa-lg m-2"></i>
                </a>
              </button>
            </div>
          </div>
        </div>

        <hr />

        <small class="card-text">{{ movie.overview }}</small>
      </div>
    </div>
  </div>
  <div class="col-8" *ngIf="display">
    <app-by-cast></app-by-cast>
  </div>
</div>
